#first-row {
  text-align: center;
  background-color: #FFE4B5;
}
#icon-bar {
  background-color: #7FFFD4;
  float: left;
  height: 580px;
  padding-left: 5em;
}
#form1 {
  background-color: #F0FFFF;
  height: 580px;
}
